<div class="form-container">
  <%= form_for @wiki do |f| %>
    <div class="form-label">
      <%= f.label :title %>
    </div>
    <div class="form-entry">
      <%= f.text_field :title, class: "form-width" %>
    </div>
    <div class="form-label">
      <%= f.label :body %>
    </div>
    <div class="form-entry">
      <div id="epiceditor">
        <%= f.text_area :body, rows: 30, class: "form-width" %>
      </div>
    </div>
    <% if premium? %>
      <div class="check-label">
        <%= f.label :private %>
      </div>
      <div class="check-form">
        <%= f.check_box :private %>
      </div>
    <% else %>
      <div class="check-label">
        <%= link_to "upgrade to make this wiki private", new_charge_path %>
      </div>
    <% end %>
    <div class="btn-container">
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  var opts = {
    autogrow: true,
    autogrow: {
      minHeight: 800
    }
  }
  var editor = new EpicEditor(opts).load();
</script>
