<div class="form-container">
  <%= form_for @wiki do |f| %>
  <div class="form-label">
    <%= f.label :title %>
  </div>
  <div class="form-entry">
    <%= f.text_field :title, class: "form-width" %>
  </div>
  <div class="form-label">
    <%= f.label :body %>
  </div>
  <div class="form-entry">
    <%= f.text_area :body, rows: 30, class: "form-width" %>
  </div>
  <div class="btn-container">
    <%= f.submit "Update" %>
  </div>
  <% end %>
</div>
